.header{
  display: flex;
  justify-content: flex-start;
  margin: 10px 10px 10px 10px;
  width: 95%;
}

.header-actions{
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  width: 50%;
}

.header-text{
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  margin-left: 500px;
  font-size: 25px;
  color: grey;
  width: 50%;
}

