.example-card {
  width: 400px;
  text-align: center;
}

.main-div{
  height: 100vh;
  display: flex;
  background-color: #ffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-card {
  width: 100px;
  height: 10px;
  text-align: center;
  margin-top: 50px;
}

