<div class="main-div">
  <form (ngSubmit)="onLogin()" #login="ngForm">
    <mat-card class="example-card">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <mat-error *ngIf="error">{{error}}</mat-error>
        <mat-form-field>
          <input
            required
            [(ngModel)]="username"
            matInput
            #usernameControl="ngModel"
            name="username"
            class="form-control"
            placeholder="username">
          <mat-error *ngIf="usernameControl?.invalid">
            {{getError(usernameControl.control, usernameControl.name)}}
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field>
          <input
            required
            [(ngModel)]="password"
            matInput
            #passwordControl="ngModel"
            class="form-control"
            name="password"
            placeholder="password">
          <mat-error *ngIf="passwordControl?.invalid">
            {{getError(passwordControl.control, passwordControl.name)}}
          </mat-error>
        </mat-form-field>
        <br/>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          [disabled]="!login.form.valid"
          mat-raised-button
          color="primary">
          Login
        </button>
      </mat-card-actions>
      <div>
        <button (click)="onSingUp()" mat-button color="primary">Sign-up</button>
      </div>
    </mat-card>
  </form>
</div>
