.row-flex-box {
  display: flex;
  flex-direction: row;
}

.col-flex-box {
  display: flex;
  flex-direction: column;
}

.item-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container {
  margin-top: 40px;
}

.item-spaced-box {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.gray-text {
  color: #808080;
}

.date-range {
  font-weight: bold;
  min-height: 20px;
  margin-bottom: 50px;
}

.table-box {
  width: 80%;
  margin-top: 60px;
}

.labeled-filter-box {
  display: flex;
  color: #808080;
  margin: 10px 10px 10px 10px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.filter-box {
  display: flex;
  color: #808080;
  margin: 30px 10px 10px 10px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.bar-chart {
  width: 60%;
  justify-content: center;
}

.result-content {
  width: 80%;
  justify-content: center;
}
